<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>
<%- messages() %>
<% if (errors && errors.length) { %>
  <ul class="notice">
    <% errors.forEach(error => { %>
      <li><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>
<form id="updateAccForm" class="forms" action="/account/update-account" method="post">
    <label for="first_name" >First Name</label>
    <input type="text" name="account_firstname" required value="<%= locals.account_firstname %>">
    <br>
    <label for="last_name">Last Name</label>
    <input type="text" name="account_lastname" required value="<%= locals.account_lastname %>">
    <br>
    <label for="email">Email address</label>
    <input type="email" name="account_email" required value="<%= locals.account_email %>">
    <br>
 
    <button type="submit" id="register-button" disabled>Update</button>
  <input type="hidden" name="account_id" value="<%= locals.account_id %>">
</form>

<script src="/js/update-account.js"></script>