<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>
<%- messages() %>
<% if (errors && errors.length) { %>
  <ul class="notice">
    <% errors.forEach(error => { %>
      <li><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>
<form class="forms" id="updateForm" action="/inv/edit-inventory" method="post">

  <span class="required">All fields are required</span>

  <br />
  <label for="inv_make">Make:</label>
  <input type="text" id="inv_make" name="inv_make" value="<%= locals.inv_make %>" pattern="^[A-Za-z0-9]+$" required />
    
  <br />
  <label for="inv_model">Model:</label>
  <input type="text" id="inv_model" name="inv_model" value="<%= locals.inv_model %>" required />

    <br />
  <label for="inv_description">Description:</label>
  <textarea id="inv_description" name="inv_description" required><%= locals.inv_description %></textarea>

  <br />
  <label for="inv_image">Image:</label>
  <input type="text" id="inv_image" name="inv_image" value="<%= locals.inv_image %>" required />

  <br />
  <label for="inv_thumbnail">Thumbnail:</label>
  <input type="text" id="inv_thumbnail" name="inv_thumbnail" value="<%= locals.inv_thumbnail %>" required />

    <br />
  <label for="inv_price">Price:</label>
  <input type="number" id="inv_price" name="inv_price" value="<%= locals.inv_price %>" pattern="^\d+(\.\d{1,2})?$" required />

  <br />
  <label for="inv_year">Year:</label>
  <input type="number" id="inv_year" name="inv_year" value="<%= locals.inv_year %>" pattern="^\d{4}$" required />

  <br />
  <label for="inv_miles">Miles:</label>
  <input type="number" id="inv_miles" name="inv_miles" value="<%= locals.inv_miles %>" pattern="^\d+$" required />

    <br />
  <label for="inv_color">Color:</label>
  <input type="text" id="inv_color" name="inv_color" value="<%= locals.inv_color %>" required />

  <br />

  <label for="classificationList">Classification:</label>
  <span id="classification_id"><%- classificationList %></span>

  <br />
  <button type="submit" disabled>Update Vehicle</button>

  <input type="hidden" name="inv_id"
  <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
  <% } %>>
</form>
<br />
<script src="/js/inventory-update.js" type="module"></script>
<script src="/js/inventory.js" type="module"></script>